

h1 {
    color: rgb(196, 44, 69);
    font-size: 150px;
  }

.header {
    width: auto;
    border-bottom: 5pt solid rgb(210, 66, 0);
    padding: 0px 0px;
    margin-bottom: 20px;
  }


.main-content {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
  }